.cardRadio {
    width: 90%;
    max-width: 500px;
    background-color: var(--gray-800);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: var(--transition);
  }

  .cardRadio:hover {
    transform: scale(1.01);
    background-color: var(--gray-700);
  }

.playResume{
    color: var(--accent);
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.playResume i{
    font-size: 2.5rem;
}

.radioName{
    width: 70%;
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contry{
    display: none;
}

#remove{
    font-size: 2rem;
    color: var(--error);
    cursor: pointer;
}

@media (min-width: 1024px) {
    .cardRadio{
        max-height: 10rem;
        width: 500px;
    }
    .contry{
        display: flex;
    }
}