.selectRadio{
    width: 100%;
    background: var(--gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
}

.radioName {
    width: 90%;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis; 
}

#check{
    color: var(--blue);
    font-size: 3rem;
}